#splashWrapper {
    margin: 24px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid black;
}

#splashContent {
    height: 100%;
    width: 100%;
}

#imageBackground {
    opacity: 0.3;
    object-fit: scale-down;
    filter: blur(2px);
    width: 100%;
    height: 100%;
}

#characterCreationWrapper {
    position: absolute;
    height: 30%;
    width: 40%;
    background: lightgray;
    border-radius: 10px ;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}