.mapRegionWrapper {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
}

.mapOverlay {
    position: absolute;
    top: 0;
    left: 0;
}
.mapRegion {
    display: "inline"; 
    fill: lightgoldenrodyellow; 
    fill-opacity: 0.065;
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.8;
}

.mapRegion:hover {
    fill: lightgray !important;
    fill-opacity: 0.6 !important;
    cursor: pointer !important;
    stroke-width: 1px !important;
    stroke-opacity: 1 !important;
}

.mapRegion.selected {
    fill: lightgray !important;
    fill-opacity: 0.8 !important;
    stroke-width: 2px !important;
    stroke-opacity: 1 !important;
}
.mapRegion.expedition.travel {
    fill: lightgreen !important;
    fill-opacity: 0.8 !important;
}

.mapRegion.expedition.gather {
    fill: green !important;
    fill-opacity: 0.8 !important;
}

.mapRegion.expedition.combat {
    fill: red !important;
    fill-opacity: 0.8 !important;
}

.mapRegion.expedition.returning {
    fill: orange !important;
    fill-opacity: 0.8 !important;
}

/* .mapRegion.expedition.finished {
    fill: lightgreen !important;
    fill-opacity: 0.8 !important;
} */

#mapSymbolsLayer {
    z-index: 25;
    pointer-events: none;
}